@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: hsl(225, 100%, 98%);
    font-family: 'Red Hat Display', sans-serif;
}

p {
    color: #555;
    font-size: 15px;
}

main {
    padding: 0 4rem;
    margin: 0 4rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 3rem;
}

.btn {
    padding: 0.55rem 4rem;
    color: hsl(225, 100%, 98%);
    background: hsl(245, 75%, 52%);
    text-align: center;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    font-family: 'Red Hat Display', sans-serif;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Hold */
#hold .text {
    padding: 1.5rem 2rem;
    border-radius: 0 0 15px 15px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background-color: hsl(225, 100%, 94%); 
}
#hold .text,
h2 {
    text-align: center;
}

#hold h2 {
    color: hsl(223, 47%, 23%);
    margin-bottom: 1rem;
    font-weight: 700;
}

#hold .hero_image {
    width: 350px;
    height: 200px;
    border-radius: 17px 17px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hold .you {
    margin-bottom: 1.7rem;
}

#hold .cancel:hover {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background: hsl(225, 100%, 98%);
    padding: 0.55rem .55rem;
    border-radius: 8px;
    margin-bottom: 1.9rem;
}

.grid h4 {
    color: hsl(223, 47%, 23%);
}

.grid>a {
    color: hsl(245, 75%, 52%);
    font-size: 14px;
    font-weight: 400;
    margin-left: 2rem;
    margin-top: .56rem;
}

.grid>a:hover {
    color: hsl(224, 23%, 55%);
    ;
}

.grid>div {
    margin-left: -1.9rem;
}

/* Media Queries */
@media(max-width: 345px) {
    #container {
        padding: 0 5rem;
    }

    #hold {
        padding: 0 3rem;
    }

    #hold .hero {
        width: 200px;
        padding: 2rem 2rem;
        border-radius: 17px 17px 0 0;
    }

    #hold>div {
        background: hsl(225, 100%, 94%);
        padding: 2rem 2rem;
    }
}